.banniere{
    background: url(Assets/bannerT.png) no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
}
.backimg{
    background-image: url("Assets/bannerT.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.jcolor{
    color: aliceblue;
}
h1{
    color: white;
}
h2{
    text-align: center;
}
.texttout p{
    width: 450px;
}
.navbar-light .navbar-toggler{
    
}
section img{
    padding: 2px;
}

.address p{
    font-size: 0.7em;
    color: white;
    padding: 5px;
}
.address h6{
    color: white;
}
@media (max-width: 700px) {

    .hello{
        display: flex;
        flex-direction: column!important;
    }

    .insertColorHere{
        background-color: black;
        height: 350px;
        color: white;
    }
    
}

.okok{
    background-image: url("Assets/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.insertColorHere{
    background-color: black;
    color: white;
}
