body {
    margin: 0;
    padding: 0;
}


/*============================ HEADER =======================*/



/* Here is where you put tue image on the url background image!!!!*/
.backimg{
    background-image: url("Assets/bannerK.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
  }
  
  .jcolor{
    color: aliceblue;
  }

  .jumbotron {
    margin-bottom:0;
  
  }


  
/*============================ SECTION =======================*/



.pmenu{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    }


section {
    background-color: rgba(0, 0, 0, 0.863);

    height: auto;

}

.menus {
    width: 100%;
    height: 100%;
    opacity: 0%;

}


.menus:hover {
    opacity: 45%;
}

.gridsection .col-4, .col-6 {

    margin: 0;
    padding: 0;
    padding-right: 0;
    padding-left: 0;
}



/*============================ FOOTER =======================*/

.okok{
    background-image: url("Assets/map.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.insertColorHere{
    background-color: black;
    height: 150px;
    color: white;
}