@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* 
font-family: 'Noto Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    overflow : auto;
    padding: 0 40px;
}


/* Header */
.backimg{
    background-image: url("Assets/menupage-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

.jcolor{
    color: aliceblue;
}

/* Main */

.menu-list .list-infos {
    justify-content: space-between;
    opacity: 0.5;
    font-family: 'Noto Sans', sans-serif;
    border-bottom: none;
}

.menu-list article {
    justify-content: space-between;
}

.menu-list {
    margin: 100px auto;
}

.list-infos h3 {
    font-size: 16px;
}

.list-infos div{
    display: flex;
}

.list-infos div :first-child {
    margin-right: 30px;
}

.menu-infos div {
    display: flex;
}

.menu-list article {
    display: flex;
    margin-bottom: 32px;
    border-bottom: 1px dotted black;
}

.dish {
    width: 520px;
}

.dish h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.dish p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #151515;
    opacity: 0.8;
}

.dish-infos {
    display: flex;
    height: 50%;
}

.dish-infos span {
    border-left: 1px solid black;
    padding-left: 10px;
}

.dish-infos :first-child {
    margin-right: 30px;
}

.dish-infos :last-child {
    font-weight: 700;
    text-transform: uppercase;
}



/* Footer */

.container-footer {
    max-width: 1080px;
    margin: 0 auto;
    overflow : auto;
    padding: 0 40px;
}

.parent {
    width: 100%;
    height: 250px;
    background: #000;
}

.child1 {
    width: 100%;
    height: 100%;
}

.child2 {
    z-index: 1;
    background: black;
}
.address p{
    font-size: 0.7em;
    color: white;
    padding: 5px;
}
.address h6{
    color: white;
}

