
/* Here is where you put tue image on the url background image!!!!*/
.backimg{
  background-image: url("img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.jcolor{
  color: aliceblue;
}

/* Menu*/
.menuedit{
  background-color: black;
  color: aliceblue;
}

.carousel {
  width:auto;
  height:40rem;
}
/* Events*/
.fineline, .fineline2{
  border-top: 2px solid gainsboro;
}
.fineline2{
  border-bottom: 2px solid gainsboro;
}

h3{
  font-size: 3em;
  font-weight: bolder;
}


/* Footer*/
.okok{
  background-image: url("img/map.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.insertColorHere{
  background-color: black;
  height: 150px;
  color: white;
}